/build/
*.db
private.properties
*.html
commons-codec-1.15/apidocs/package-list
*.js
*.css
*.jar
commons-codec-1.15/LICENSE.txt
commons-codec-1.15/NOTICE.txt
commons-codec-1.15/RELEASE-NOTES.txt
/dist/
